<a href="https://colab.research.google.com/github/Anshita-sharma27/Ai-project/blob/main/numpy_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#numpy project

**employee salary**

In [ ]:
import numpy as np

In [ ]:
name= np.array(["anshita", "anchal", "devansh"," mohit", "khushi", "diksha"])

salaries = np.array([30000,40000,50000,60000,70000,80000])

In [ ]:
#find salary of each employ
for i in range(len(name)):
  print(name[i],salaries[i])

anshita 30000
anchal 40000
devansh 50000
 mohit 60000
khushi 70000
diksha 80000

In [ ]:
average_salary=np.mean(salaries)
highest_salary=np.max(salaries)
lower_salary=np.min(salaries)
salary_range=highest_salary-lower_salary


below_avg=salaries[salaries<average_salary]
above_avg= salaries[salaries<average_salary]

print("average salary", average_salary)
print("higest salary", highest_salary)
print("lowest salary", lower_salary)
print("salary  range", salary_range)
print("\n employess below average salary:", below_avg)
print("\n employess above average salary:", above_avg)

average salary 55000.0
higest salary 80000
lowest salary 30000
salary  range 50000

 employess below average salary: [30000 40000 50000]

 employess above average salary: [30000 40000 50000]